.m-todos{
    font-size: 22px;
    color: #0099FF;
}

.m-todos .hd{
    background: rgba(255, 0, 0, 0.5);
    opacity: 0.5;
}

.m-todos .bd{
    border: 1px solid orange;
}

.m-todos .ft{
    border: 1px solid ;
}
