body{
    background: #F5F5F5;
}
.m-todos{
    width: 474px;
    margin: 0 auto;
    font-size: 22px;
}

.m-todos *{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.m-todos button:focus{
    outline: 1px dotted #000000;
}

.m-todos .main{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.m-todos .hd{
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}


/* body */
.m-todos .bd{

}

.m-todos .bd .input{
    width: 474;
    height: 33px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding: 30px 16px 30px 60px;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    border: none;
    background: #FFFFFF;
    outline: none;
}

.m-todos .bd .input::-webkit-input-placeholder{
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.m-todos .bd .item{
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ededed;
    position: relative;
}

.m-todos .bd .item input,
.m-todos .bd .item button{
    vertical-align: middle;
}

.m-todos .bd .item label{
    font-weight: 300;
    display: inline-block;
    width: 400px;
    position: relative;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.m-todos .bd .item .choose{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.m-todos .bd .item .title{
    transition: color 0.5s;
    padding-left: 30px;
}

.m-todos .bd .item .completed .title{
    color: #e6e6e6;
    text-decoration: line-through;
}

.m-todos .bd .item .remove{
    border: none;
    float: right;
    font-size: 30px;
    background-color: transparent;
    color: #af5b5e;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 16px;
}

/* footer */
.m-todos .ft{
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0 10px 0px -4px #f6f6f6,
                0 11px 1px -4px rgba(0,0,0,.2),
                0 20px 0 -8px #f6f6f6,
                0 21px 1px -8px rgba(0,0,0,.2);
}

.m-todos .ft .count{
    margin-right: 50px;
}

.m-todos .ft button{
    font-size: 14px;
    border: 1px solid rgba(175, 47, 47, 0.1);
    border-radius: 2px;
    background-color: transparent;
}
