{{#list}}
    <li class="item" data-index="{{index}}">
        <label class="{{#_checked}}completed{{/_checked}}">
            <input data-index="{{index}}" type="checkbox" class="choose {{#_checked}}disabled{{/_checked}} j-choose" name="name" value="" {{#_checked}}checked{{/_checked}}>
            <div class="title">{{title}}</div>
        </label>
        <button class="j-remove remove">&times;</button>
    </li>
{{/list}}
