{{#list}}
    <li class="item" data-index="{{index}}">
        <label>
            <input type="checkbox" name="name" value="">
            {{title}}
        </label>
        <button class="j-remove remove">&times;</button>
    </li>
{{/list}}
